<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="favicon-32x32.png">
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/favorites">Favorites</a>
        <div>
            <form class="search-bar" action="/" method="post">
                <input type="text" name="city" id="city" placeholder="Search City">
                <button class="go" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="display">
        <div>
            <% if (typeof error !== 'undefined') { %>
                <p>Error: Location invalid</p>
            <% } else { %> 
            <form action="/favorites/<%= weather.city %>" method="POST">
            <h1>Weather in <%= weather.city %></h1>
            <p> <%= weather.desc %> </p>
            <p>Temperature: <%= weather.temperature %>°F</p>
            <p>Humidity: <%= weather.humidity %>%</p>
            <p>Wind Speed: <%= weather.wind %> MPH</p>
            <button type="submit">Add to Favorites</button>
            
            </form>
    <% } %>
        </div>
    </div>
</body>

</html>