<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="public/favicon-32x32.png">
</head>

<body>
    <nav class="header">
       <button><a href="/">Home</a></button>
        <button> <a href="/favorites">Favorites</a></button>
        <div class ="nav-search">
            <form action="/weather" method="post" class ="nav-search">
                <input type="text" name="city" id="city" placeholder="Search City">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="display">
        <div>
            <% if (typeof error !== 'undefined') { %>
                <p>Error: Location invalid</p>
            <% } else { %> 
            <form action="/favorites/<%= weather.city %>" method="POST">
            <h1>Weather in <%= weather.city %></h1>
            <p> <%= weather.desc %> </p>
            <p>Temperature: <%= weather.temperature %>°F</p>
            <p>Humidity: <%= weather.humidity %>%</p>
            <p>Wind Speed: <%= weather.wind %> MPH</p>
            <button type="submit">Add to Favorites</button>
            
            </form>
    <% } %>
        </div>
    </div>
    <!-- <a href="/" class="home">Home</a> -->
</body>

</html>